doctype html
html(xmlns="http://www.w3.org/1999/xhtml" style={margin: 0, padding: 0, "min-height": "100%"})
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
  body(style={margin: 0, padding: 0, "min-height": "100%", color:"#545454", "font-family": "Helvetica nueu, helvetica, san-serif"})
    table(cellpadding="0", cellspacing="0", align="center", height="100%", bgcolor="#f6f6f6" border="0",  width="100%")
      tr
        td(align="center" valign="middle" style={padding: "30px 30px 30px 30px"})
          img(src=process.env.MEDIA_HOST + "/web-assets/img/logo--fullColour@2x.png" alt='Nibkit' width="180")
      tr
        td
          table(cellpadding="0", cellspacing="0", align="center", height="100%", bgcolor="#f6f6f6" border="0",  style={width: "600px", width: "600px"})
            tr
              td(align="center" valign="top" style={background: "#fefefe", padding: "30px 30px 30px 30px", "border-radius": "4px", "text-align": "left", "box-shadow": "0 1px 2px 0 rgba(0, 0, 0, 0.1)"})
                block content
            tr
              td(style={padding: "30px 30px 80px 30px", "text-align": "center"})
                a(href='http://'+ frontEndUrl style={"text-decoration": "none", color: "#9a9a9a"})= '\u00A9 '  + new Date().getFullYear() + ' Nibkit'