extends layouts/default.pug

block content
  table(width="100%")
    tr
      td(width="100%" style={"text-align": "center"})
        span(style={"font-weight": "400", "font-size": "1.8rem"}) Hello,
        br/
        br/
        span(style={"font-weight": "400"}) Someone initiated a password reset request on you Daju account!
        br/
        span(style={"font-weight": "400"}) Click the link below to complete the process if it was you.
        br/
        br/
    tr
      td(width="100%" style={"text-align": "center"})
        a(href=redirectUrl || "#", 
          style={ 
            "margin": "0 auto", 
            "max-width": "300px", 
            "background": "#12D5ED", 
            "padding": "15px 30px 15px 30px", 
            "border-radius": "1000px", 
            "color": "#ffffff", 
            "display": "block", 
            "text-transform": "capitalize", 
            "text-decoration": "none"}) Reset Password